.floating-wa {
  position: fixed;

  right: 20px;
  bottom: 20px;

  width: 58px;
  height: 58px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #25D366;

  color: white;

  font-size: 30px;

  box-shadow:
    0 10px 25px rgba(37,211,102,.35);

  z-index: 9999;

  transition:
    transform .35s ease,
    opacity .35s ease;
}

.floating-wa:hover {
  transform: scale(1.08);
}

.floating-wa.show {
  opacity: 1;

  transform: translateY(0);
}

.floating-wa.hide {
  opacity: 0;

  pointer-events: none;

  transform: translateY(100px);
}

@media (max-width: 768px) {

  .floating-wa {
    width: 54px;
    height: 54px;

    font-size: 28px;

    right: 16px;
    bottom: 16px;
  }
}